<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="V1AttachmentExport" type="V1AttachmentExportCore.ConfigurationHandler, V1AttachmentExportCore" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="V1AttachmentExport.log" />
      <target name="console" xsi:type="Console" />
    </targets>

    <!-- Modify the minlevel to change logging level.  Use Error, Info, or Debug. -->
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>

  <!-- Primary Request Update section. -->
  <!-- Set BaseUrl to match address/instance name. -->
  <!-- Set FilePath to the directory to save the attachments. -->
  <!-- Set AuthType to "Basic" or "OAuth", does not currently support Integrated Auth. -->
  <!-- Set UseProject to "true" or "false", if "true", a directory matching the 
       project name will be created and attachments stored in the appropriate directories -->
  <!-- Do not change OauthScope. -->
  <V1AttachmentExport>
    <Settings>
      <OauthScope>apiv1</OauthScope>
      <BaseUrl>http://localhost/BestBuyCoInc</BaseUrl>
      <V1Username>admin</V1Username>
      <V1Password>admin</V1Password>
      <AuthType>Basic</AuthType>
      <FilePath>C:\\v1attachments</FilePath>
      <UseProject>true</UseProject>
      <AssetTypes>Story,Defect,Epic,Issue,Request,Task,Test</AssetTypes>
    </Settings>
  </V1AttachmentExport>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
